Repository mugoori/Judgify-core: changes, and which Codecov flags are due for each by the changed paths.
All: rust, typescript

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% decrease
        base: auto
    patch:
      default:
        target: 60%  # New code should have 60%+ coverage
        threshold: 5%

  # Coverage baselines
  range: 50..100  # Red at <50%, green at 100%

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false  # Comment on all PRs
  after_n_builds: 2  # Wait for both Rust and TypeScript

flags:
  rust:
    paths:
      - src-tauri/
    carryforward: true
  typescript:
    paths:
      - src/
    carryforward: true

# Ignore generated and test files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "src/main.tsx"
  - "src/vite-env.d.ts"
  - "**/*.d.ts"
  - "**/*.config.ts"
  - "src-tauri/src/main.rs"
  - "src-tauri/target/**"

test: Add comprehensive useRuleValidation tests (8/8 passing)
  package-lock.json
  package.json
  src/hooks/__tests__/useRuleValidation.test.ts
  src/setupTests.ts
  tsconfig.vitest.json
  vitest.config.ts
Due: typescript

docs: Add Debug_Report.md and integrate error logging into /init workflow
  CLAUDE.md
  Debug_Report.md
Due: none

docs: Update TASKS.md with Task 4.2-Partial progress checkpoint
  TASKS.md
Due: none

fix: Resolve Lighthouse CI artifact upload compatibility issue
  .github/workflows/performance.yml
Due: none

fix: Resolve all 19 TypeScript compilation errors
  .claude/settings.local.json
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/OfflineDetector.tsx
  src/components/layout/Header.tsx
  src/components/workflow/NodeEditPanel.tsx
  src/components/workflow/SimulationPanel.tsx
  src/lib/workflow-simulator.ts
  src/pages/WorkflowBuilder.tsx
  src/vite-env.d.ts
Due: typescript

fix: Upgrade Node.js from 18 to 20 in GitHub Actions
  .github/workflows/performance.yml
  .github/workflows/test.yml
Due: none

fix: Resolve Lighthouse CI artifact upload compatibility (#13)
  .claude/settings.local.json
  .github/workflows/performance.yml
  .github/workflows/test.yml
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/OfflineDetector.tsx
  src/components/layout/Header.tsx
  src/components/workflow/NodeEditPanel.tsx
  src/components/workflow/SimulationPanel.tsx
  src/lib/workflow-simulator.ts
  src/pages/WorkflowBuilder.tsx
  src/vite-env.d.ts
Due: typescript

docs: Update TASKS.md with Task 4.3 completion (PR #13 integration)
  TASKS.md
Due: none

test: Task 4.2-Partial 완료 - TypeScript 유닛 테스트 48개 작성
  TASKS.md
  src/components/__tests__/EmptyState.test.tsx
  src/lib/__tests__/sample-data.test.ts
  src/lib/__tests__/tauri-api.test.ts
Due: none

fix: Issue #14, #15 완료 - CI/CD 안정화 및 Lighthouse 성능 최적화
  .github/workflows/test.yml
  src/App.tsx
  vite.config.ts
Due: typescript

docs: TASKS.md 업데이트 - Issue #14, #15 완료 기록
  TASKS.md
Due: none

docs: Task 4.3 완료 - 테스트 가이드 문서화 (400줄, 7개 섹션)
  TASKS.md
  docs/testing/testing-guide.md
Due: none

test: Dashboard.tsx 유닛 테스트 작성 (28/28 passing)
  TASKS.md
  src/pages/__tests__/Dashboard.test.tsx
  src/setupTests.ts
Due: typescript

docs: Dashboard 테스트 에러 해결 과정 문서화
  Debug_Report.md
Due: none

feat: Complete Task 4.1 - GitHub Actions CI/CD Pipeline
  .github/workflows/test.yml
  README.md
  TASKS.md
Due: none

test: Add ChatInterface & BiInsights tests (33.91% coverage)
  .claude/settings.local.json
  .github/workflows/test.yml
  TASKS.md
  src/pages/__tests__/BiInsights.test.tsx
  src/pages/__tests__/ChatInterface.test.tsx
Due: none

test: Add Settings.test.tsx (18 tests, 61.46% coverage)
  src/pages/__tests__/Settings.test.tsx
Due: none

test: Add App.test.tsx and ErrorBoundary.test.tsx (20 tests, 66.78% coverage)
  .github/workflows/test.yml
  src/__tests__/App.test.tsx
  src/components/__tests__/ErrorBoundary.test.tsx
Due: none

test: Add ChatInterface advanced tests (10 tests, Phase 3 완료)
  src/pages/__tests__/ChatInterface.test.tsx
Due: none

refactor: Optimize documentation and test patterns (Phase 1 완료)
  docs/development/plan.md
  src/__tests__/App.test.tsx
  src/__tests__/utils/mockLocalStorage.ts
  src/__tests__/utils/renderWithQueryClient.tsx
  src/pages/__tests__/Settings.test.tsx
  src/setupTests.ts
Due: typescript

refactor: Complete Phase 2 optimization - Legacy cleanup
  CLAUDE.md
  src/App.test.tsx
Due: none

docs: Add Week 5 Visual Workflow Builder migration plan
  docs/week5-migration-plan.md
Due: none

fix: Replace OpenAI API with Claude API in Week 5 migration plan
  docs/week5-migration-plan.md
Due: none

feat: Week 5 Day 1 - Node type system expansion (4→10 types)
  src/components/workflow/CustomNode.tsx
  src/types/workflow.ts
Due: typescript

test: Add CustomNode backward compatibility tests (Week 5 Day 1)
  src/components/workflow/__tests__/CustomNode.test.tsx
Due: none

feat: Expand WorkflowBuilder to support 10 node types (Week 5 Day 1-2)
  src/pages/WorkflowBuilder.tsx
Due: typescript

feat: Implement Week 5 Day 3-4 Phase 1 & 2 - Claude API Integration
  package-lock.json
  package.json
  src/lib/__tests__/claude-provider.test.ts
  src/lib/claude-provider.ts
  src/lib/llm-provider.ts
  src/lib/workflow-generator.ts
Due: typescript

docs: Update TASKS.md with Week 5 progress (50% complete)
  TASKS.md
Due: none

feat: Implement Week 5 Day 3-4 Phase 4 - UI Integration Complete
  package-lock.json
  package.json
  src/components/ui/radio-group.tsx
  src/pages/WorkflowBuilder.tsx
Due: typescript

docs: Update TASKS.md - Week 5 Phase 4 complete (62.5%)
  TASKS.md
Due: none

fix: Improve Controls positioning for better UX
  src/pages/WorkflowBuilder.tsx
Due: typescript

feat: Add sticky zoom controls panel for workflow canvas
  src/pages/WorkflowBuilder.tsx
Due: typescript

fix: Resolve useReactFlow zustand provider error
  src/pages/WorkflowBuilder.tsx
Due: typescript

fix: Resolve canvas layout issues - prevent height expansion and control overlap
  src/pages/WorkflowBuilder.tsx
Due: typescript

fix: Eliminate control bar whitespace by making ReactFlow absolutely positioned
  src/pages/WorkflowBuilder.tsx
Due: typescript

feat: Implement dual-mode Claude API support (Tauri + Browser/Test)
  Phase32-Summary.md
  src-tauri/src/commands/workflow.rs
  src-tauri/src/main.rs
  src/lib/claude-provider.ts
Due: rust, typescript

fix: Improve E2E test pass rate from 5/8 to 6/8 (Phase 33)
  Phase33-Summary.md
  src/lib/claude-provider.ts
Due: typescript

test: Phase 34 - ReactFlow rendering detection attempt (failed experiment)
  .gitignore
  Phase34-Summary.md
  src/pages/WorkflowBuilder.tsx
  tests/e2e/workflow-generation.spec.ts
Due: typescript

feat: Implement Week 5 Day 5-6 - AI Workflow Enhancement
  TASKS.md
  src/components/workflow/TemplateGallery.tsx
  src/lib/workflow-generator.ts
  src/lib/workflow-templates.ts
  src/pages/WorkflowBuilder.tsx
Due: typescript
