Repository mugoori/Judgify-core: changes, and which Codecov flags are due for each by the changed paths.
All: rust, typescript

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% decrease
        base: auto
    patch:
      default:
        target: 60%  # New code should have 60%+ coverage
        threshold: 5%

  # Coverage baselines
  range: 50..100  # Red at <50%, green at 100%

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false  # Comment on all PRs
  after_n_builds: 2  # Wait for both Rust and TypeScript

flags:
  rust:
    paths:
      - src-tauri/
    carryforward: true
  typescript:
    paths:
      - src/
    carryforward: true

# Ignore generated and test files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "src/main.tsx"
  - "src/vite-env.d.ts"
  - "**/*.d.ts"
  - "**/*.config.ts"
  - "src-tauri/src/main.rs"
  - "src-tauri/target/**"

fix: Resolve SimulationPanel E2E test failures (Week 6 Task 1)
  CLAUDE.md
  Phase22-Summary.md
  Week5-COMPLETE-Summary.md
  package-lock.json
  package.json
  playwright-report/data/0da3f9e8490c7f3e2711caa91e094a13bb2ab4f1.webm
  playwright-report/data/46def0cfd5335506a226cd7090e68d5d39c56cd4.png
  playwright-report/data/88dd01303645a84324144ce931bf0897201a9ef8.md
  playwright-report/index.html
  public/triflow-logo.png
  src-tauri/icons/TriFlow_128x128.png
  src-tauri/icons/TriFlow_256x256.png
  src-tauri/icons/TriFlow_32x32.png
  src-tauri/icons/TriFlow_512x512.png
  src-tauri/src/commands/workflow.rs
  src-tauri/src/main.rs
  src-tauri/tests/workflow_simulation_integration_test.rs
  src/components/ui/dialog.tsx
  src/components/ui/tabs.tsx
  src/components/workflow/CustomNode.tsx
  src/components/workflow/SimulationPanel.tsx
  src/components/workflow/TemplateGallery.tsx
  src/lib/__tests__/workflow-generator.test.ts
  src/lib/environment.ts
  src/lib/mock-api.ts
  src/lib/tauri-api-wrapper.ts
  src/lib/workflow-simulator.ts
  src/pages/WorkflowBuilder.tsx
  test-results/.last-run.json
  test-results/results.json
  test-results/workflow-generation-Workfl-35c12-rid-모드---LLM-보완-케이스-Mocked--chromium/error-context.md
  test-results/workflow-generation-Workfl-35c12-rid-모드---LLM-보완-케이스-Mocked--chromium/test-failed-1.png
  test-results/workflow-generation-Workfl-35c12-rid-모드---LLM-보완-케이스-Mocked--chromium/video.webm
  test-results/workflow-generation-Workfl-a2ba9-M-모드---복잡한-워크플로우-생성-Mocked--chromium/error-context.md
  test-results/workflow-generation-Workfl-a2ba9-M-모드---복잡한-워크플로우-생성-Mocked--chromium/test-failed-1.png
  test-results/workflow-generation-Workfl-a2ba9-M-모드---복잡한-워크플로우-생성-Mocked--chromium/video.webm
  test-results/workflow-simulation-Workflow-Simulation-E2E-1-시뮬레이션-패널-열기-닫기-chromium/error-context.md
  test-results/workflow-simulation-Workflow-Simulation-E2E-1-시뮬레이션-패널-열기-닫기-chromium/test-failed-1.png
  test-results/workflow-simulation-Workflow-Simulation-E2E-1-시뮬레이션-패널-열기-닫기-chromium/video.webm
  tests/e2e/workflow-simulation.spec.ts
Due: rust, typescript

feat: Week 6 Task 5 - Rust 워크플로우 실행 엔진 10개 노드 타입 구현 완료
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/workflow.rs
  src-tauri/src/commands/workflow_types.rs
  src-tauri/src/engines/mod.rs
  src-tauri/src/engines/rule_engine.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
Due: rust

feat: Week 6 Task 6 - TypeScript Simulator → Rust Tauri 교체
  Week6-Task6-Summary.md
  playwright-report/data/0da3f9e8490c7f3e2711caa91e094a13bb2ab4f1.webm
  playwright-report/data/46c0128aa8f3d6dd8ef2b4ba0401eac4258d6c2e.md
  playwright-report/data/46def0cfd5335506a226cd7090e68d5d39c56cd4.png
  playwright-report/data/55ae19adadad227e277d13788bba78c8b8fdbb13.png
  playwright-report/data/a0664c801385a0965e65d1818a60dcb5167f355c.png
  playwright-report/data/a33994a610dc11fac5a0af5cdf7d547b01f0501d.webm
  playwright-report/data/b820b301405d7a6e31ee32dcc59830c09eb98a8d.webm
  playwright-report/data/c847710d37072f6bc7b42cce50f1e686fb7b1068.md
  playwright-report/index.html
  src/components/workflow/CustomNode.tsx
  src/components/workflow/SimulationPanel.tsx
  src/lib/workflow-simulator-tauri.ts
  src/pages/WorkflowBuilder.tsx
  test-results/.last-run.json
  test-results/results.json
  test-results/workflow-simulation-Workfl-76e5d-ion-E2E-5-전체-워크플로우-시뮬레이션-완료-chromium/error-context.md
  test-results/workflow-simulation-Workfl-76e5d-ion-E2E-5-전체-워크플로우-시뮬레이션-완료-chromium/test-failed-1.png
  test-results/workflow-simulation-Workfl-76e5d-ion-E2E-5-전체-워크플로우-시뮬레이션-완료-chromium/video.webm
Due: typescript

fix: Add sourceHandle and targetHandle to all workflow template edges
  src/lib/workflow-templates.ts
Due: typescript

feat: Week 6 Task 4 - 시뮬레이션 히스토리 영구 저장 (IndexedDB)
  .claude/settings.local.json
  package-lock.json
  package.json
  src/components/ui/popover.tsx
  src/components/workflow/SimulationHistoryButton.tsx
  src/components/workflow/SimulationPanel.tsx
  src/lib/simulation-history-storage.ts
  src/pages/WorkflowBuilder.tsx
Due: typescript

chore: Complete "TriFlow" → "TriFlow AI" branding update
  index.html
  src-tauri/tauri.conf.json
  src/components/layout/Header.tsx
  src/components/layout/Sidebar.tsx
Due: rust, typescript

test: Skip E2E Test 1 & 5 (테스트 환경 제약, Week 7 이관)
  tests/e2e/workflow-simulation.spec.ts
Due: none

docs: Update TASKS.md - Week 5 Day 9 완료 (브랜딩 + E2E 테스트 전략)
  TASKS.md
Due: none

docs: Complete Week 5 Phase 3 - Integration Tests (17/17 passed)
  TASKS.md
Due: none

feat(week7): Implement System Tray and Auto Update (Day 1-4)
  Week7-Day1-SystemTray-Summary.md
  Week7-Day3-4-AutoUpdate-Summary.md
  src-tauri/icons/tray-icon.png
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/update.rs
  src-tauri/src/main.rs
  src-tauri/src/tray.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/pages/Settings.tsx
Due: rust, typescript

feat(week7): Implement Windows Installer and GitHub Release Automation (Day 5)
  .github/workflows/release.yml
  LICENSE
  Week7-Day5-WindowsInstaller-Summary.md
  src-tauri/tauri.conf.json
Due: rust

docs: Update TASKS.md with Week 6 & Week 7 progress
  TASKS.md
Due: none

feat(week8): Implement Signing Keys and Auto Update configuration (Day 1 Phase 1-3)
  .gitignore
  package.json
  src-tauri/tauri.conf.json
Due: rust

fix(workflow): Add contents:write permission for release creation
  .github/workflows/release.yml
Due: none

fix(ci): Update Node.js to v20 and sync package-lock.json
  .github/workflows/release.yml
  package-lock.json
Due: none

fix(ci): Remove TypeScript check from build and fix NSIS config
  src-tauri/tauri.conf.json
Due: rust

fix(ci): Set TAURI_KEY_PASSWORD to empty string (key has no password)
  .github/workflows/release.yml
Due: none

chore: Update Tauri signing public key for v0.1.0-beta.1
  src-tauri/tauri.conf.json
Due: rust

fix: Update Tauri signing key with password 1234
  src-tauri/tauri.conf.json
Due: rust

fix: Clean Rust cache before build to fix artifact naming
  .github/workflows/release.yml
Due: none

fix: Use cargo clean instead of PowerShell for cache cleaning
  .github/workflows/release.yml
Due: none

fix: Remove check_env.rs and explicitly define main binary
  src-tauri/Cargo.toml
  src-tauri/src/bin/check_env.rs
Due: rust

fix: Change binary name to match package name
  src-tauri/Cargo.toml
Due: rust

fix: Update manifest to use .msi.zip files for Tauri updater
  .github/workflows/release.yml
Due: none

fix(ci): Add create-release dependency to manifest job
  .github/workflows/release.yml
Due: none

fix(ci): Delete existing latest.json before upload
  .github/workflows/release.yml
Due: none

feat: Initialize gh-pages for auto-update manifest hosting
  .nojekyll
  index.html
  latest.json
Due: none

feat: Enable GitHub Pages for auto-update manifest
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
Due: rust

Rename project from Judgify-core to TriFlow AI
  README.md
Due: none

chore: Bump version to 0.1.1 and fix emoji encoding in bump script
  package.json
  scripts/bump_version.py
  src-tauri/Cargo.toml
  version.py
Due: rust

fix: Update manifest to use actual signature content instead of URL
  .github/workflows/release.yml
Due: none

chore: Bump version to 0.1.2
  package.json
  src-tauri/Cargo.toml
  version.py
Due: rust

fix: Add permissions to generate-update-manifest job
  .github/workflows/release.yml
Due: none

chore: Bump version to 0.1.3
  package.json
  src-tauri/Cargo.toml
  version.py
Due: rust

chore: Bump version to 0.1.4
  package.json
  src-tauri/Cargo.toml
  version.py
Due: rust

fix: Add permissions to all jobs in release workflow
  .github/workflows/release.yml
Due: none

chore: Bump version to 0.1.5
  package.json
  src-tauri/Cargo.toml
  version.py
Due: rust

fix(ci): Replace deprecated actions/create-release with softprops/action-gh-release@v2
  .github/workflows/release.yml
  package.json
  src-tauri/Cargo.toml
  version.py
Due: rust

fix(ci): Fix signature download using fetch API
  .github/workflows/release.yml
  package.json
  src-tauri/Cargo.toml
  version.py
Due: rust
