Repository mugoori/Judgify-core: changes, and which Codecov flags are due for each by the changed paths.
All: rust, typescript

fix: Add tauri.conf.json to version sync system
  package.json
  scripts/bump_version.py
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  version.py
Due: rust

chore: 프로젝트 최적화 및 브랜딩 변경 (Judgify → TriFlow AI)
  .claude/settings.local.json
  .gitignore
  Phase22-Summary.md
  README.md
  TASKS.md
  Week5-COMPLETE-Summary.md
  Week6-Task6-Summary.md
  Week7-Day1-SystemTray-Summary.md
  Week7-Day3-4-AutoUpdate-Summary.md
  Week7-Day5-WindowsInstaller-Summary.md
  cdevJudgify-coresrc-taurisrccommandsworkflow.rs
  src-tauri/Cargo.lock
  src-tauri/src/commands/chat.rs
  src-tauri/src/main.rs
  src-tauri/src/services/chat_service.rs
  src/components/dashboard/BarChart.tsx
  src/components/dashboard/GaugeChart.tsx
  src/components/dashboard/KPICard.tsx
  src/components/dashboard/LineChart.tsx
  src/lib/tauri-api-wrapper.ts
  src/lib/tauri-api.ts
  src/pages/ChatInterface.tsx
  src/pages/Settings.tsx
  test-console-log.txt
  test.txt
  test_openai_key.sh
Due: rust, typescript

docs: Archive completed phases and restructure TASKS.md
  TASKS.md
  docs/archive/TASKS-Phase1-Performance.md
  docs/archive/TASKS-Phase2-TestAutomation.md
  docs/archive/TASKS-Week5-Workflow.md
  docs/archive/TASKS-Week6-Dashboard.md
  docs/archive/TASKS-Week7-Windows.md
Due: none

docs: Add Phase 8 - Desktop App 100% completion plan
  TASKS.md
Due: none

docs: Update TASKS.md - Phase 8 완료 (100%)
  TASKS.md
Due: none

fix: Improve API key error messages
  src-tauri/src/services/chat_service.rs
  src-tauri/src/services/llm_engine.rs
Due: rust

fix: Remove duplicate onStepChange attribute in SimulationPanel
  src/pages/WorkflowBuilder.tsx
Due: typescript

fix: Fix ErrorBoundary component and tests (8/8 passed)
  src/components/ErrorBoundary.tsx
  src/components/__tests__/ErrorBoundary.test.tsx
Due: typescript

fix: Remove space from productName to fix dev build error
  src-tauri/tauri.conf.json
Due: rust

feat: Add Tauri command to save API key to environment variable
  .claude/settings.local.json
  src-tauri/src/commands/system.rs
  src-tauri/src/main.rs
  src/pages/Settings.tsx
Due: rust, typescript

feat: Implement persistent API key storage using system keychain
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/system.rs
  src-tauri/src/main.rs
  src/pages/Settings.tsx
Due: rust, typescript

chore: Bump version to 0.1.9
  package.json
  src-tauri/Cargo.toml
Due: rust

fix: API key masking bug causing corrupted saves
  src-tauri/tauri.conf.json
  src/pages/Settings.tsx
Due: rust, typescript

fix: API key input and update loop bugs + bump to v0.2.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/commands/update.rs
  src-tauri/tauri.conf.json
  src/pages/Settings.tsx
Due: rust, typescript

feat: Migrate OpenAI to Claude API + Keychain-first loading (v0.2.1)
  .claude/settings.local.json
  .env.example
  package.json
  requirements.txt
  scripts/notion/weekly_logger.py
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/algorithms/llm_pattern_discoverer.rs
  src-tauri/src/main.rs
  src-tauri/src/services/bi_service.rs
  src-tauri/src/utils/openai.rs
  src-tauri/tauri.conf.json
  src/pages/WorkflowBuilder.tsx
Due: rust, typescript

chore: Update Claude settings
  .claude/settings.local.json
Due: none

fix: Resolve main.rs syntax error (missing run() function call)
  .claude/settings.local.json
  .gitignore
  src-tauri/Cargo.lock
  src-tauri/src/algorithms/llm_pattern_discoverer.rs
  src-tauri/src/main.rs
Due: rust

fix: Add API key loading to ChatInterface and BiInsights (v0.2.1 hotfix)
  src-tauri/src/services/chat_service.rs
  src/pages/BiInsights.tsx
  src/pages/ChatInterface.tsx
Due: rust, typescript

docs: Add Phase 9 v0.2.1 hotfix to TASKS.md
  TASKS.md
Due: none

fix: Replace window.confirm with AlertDialog for production stability
  src/pages/ChatInterface.tsx
  src/pages/__tests__/ChatInterface.test.tsx
Due: typescript

chore: Bump version to 0.2.2
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: rust

feat: Add MSI upgrade support + X button exit behavior
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/tray.rs
  src-tauri/tauri.conf.json
Due: rust

fix: Remove unsupported WiX upgrade code configuration
  src-tauri/Cargo.lock
  src-tauri/tauri.conf.json
Due: rust

docs: Rebrand 'Judgify AI' to 'TriFlow AI' in UI and prompts
  src-tauri/src/services/chat_service.rs
  src/pages/Settings.tsx
  src/pages/__tests__/ChatInterface.test.tsx
Due: rust, typescript

chore: Sync version.py to 0.2.3 (match Git tag v0.2.3)
  version.py
Due: none

docs: Rebrand 'Judgify AI' to 'TriFlow AI' in UI and prompts (#18)
  src-tauri/src/services/chat_service.rs
  src/pages/Settings.tsx
  src/pages/__tests__/ChatInterface.test.tsx
  version.py
Due: rust, typescript

chore: Bump version to 0.2.4 (TriFlow AI branding release)
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  version.py
Due: rust

feat!: Migrate to NSIS installer to fix auto-update duplicate installation
  .github/workflows/release.yml
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  version.py
Due: rust

fix: Update NSIS asset detection in GitHub Actions
  .github/workflows/release.yml
Due: none

fix: Add includeUpdaterJson to enable NSIS updater files upload
  .github/workflows/release.yml
Due: none

fix: Change targets to 'all' to enable NSIS ZIP generation (Tauri v1 bug workaround)
  src-tauri/tauri.conf.json
Due: rust

docs: Add Phase 10 (v0.3.0 NSIS migration) to TASKS.md and user migration guide
  TASKS.md
  docs/guides/nsis-migration-guide.md
Due: none

feat(ccp-demo): Complete Phase 7 - Bug fixes and demo preparation
  docs/development/ccp-demo-completion-report.md
  docs/development/inventory-module-plan.md
  docs/development/judgment_ccp_demo.md
  src-tauri/Cargo.lock
  src-tauri/migrations/001_create_ccp_docs.sql
  src-tauri/migrations/002_create_ccp_sensors.sql
  src-tauri/migrations/003_create_ccp_judgments.sql
  src-tauri/migrations/004_ccp_seed_data.sql
  src-tauri/src/commands/ccp.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/database/models.rs
  src-tauri/src/database/sqlite.rs
  src-tauri/src/engines/rule_engine.rs
  src-tauri/src/main.rs
  src-tauri/src/services/bi_service.rs
  src-tauri/src/services/ccp_service.rs
  src-tauri/src/services/context7_cache.rs
  src-tauri/src/services/llm_engine.rs
  src-tauri/src/services/mod.rs
  src/App.tsx
  src/components/layout/Sidebar.tsx
  src/pages/CcpDemo.css
  src/pages/CcpDemo.tsx
Due: rust, typescript

refactor(ui): CCP 데모 UI 리디자인 및 통일성 개선
  TASKS.md
  src/pages/CcpDemo.css
  src/pages/CcpDemo.tsx
Due: typescript

feat: Add CCP demo backend implementation
  src-tauri/Cargo.toml
  src-tauri/migrations/001_create_ccp_docs.sql
  src-tauri/migrations/004_ccp_seed_data_fixed.sql
  src-tauri/src/bin/init_db.rs
  src-tauri/src/commands/ccp.rs
  src-tauri/src/main.rs
  src-tauri/src/services/ccp_service.rs
Due: rust

chore: Bump version to 0.3.1
  package.json
  src-tauri/Cargo.toml
Due: rust

fix: Sync version.py and tauri.conf.json to 0.3.1
  src-tauri/tauri.conf.json
  version.py
Due: rust

docs: Add version management guide and CI validation
  .github/workflows/version-check.yml
  docs/development/versioning-strategy.md
Due: none

Path conditions:
  rust: any of: src-tauri/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, src/main.tsx, src/vite-env.d.ts, **/*.d.ts, **/*.config.ts, src-tauri/src/main.rs, src-tauri/target/**
  typescript: any of: src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, src/main.tsx, src/vite-env.d.ts, **/*.d.ts, **/*.config.ts, src-tauri/src/main.rs, src-tauri/target/**
