Repository mugoori/Judgify-core: changes, and which Codecov flags are due for each by the changed paths.
All: rust, typescript

chore: Bump version to 0.3.2
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  version.py
Due: rust

fix: Improve version check workflow accuracy
  .github/workflows/version-check.yml
Due: none

refactor: Phase 1 React Flow 제거 및 Phase 9 준비
  docs/development/phase9-ui-mockup.md
  package-lock.json
  package.json
  src/App.tsx
  src/components/NotImplemented.tsx
  src/components/workflow/CustomNode.tsx
  src/components/workflow/NodeEditPanel.tsx
  src/components/workflow/SimulationHistoryButton.tsx
  src/components/workflow/SimulationPanel.tsx
  src/components/workflow/TemplateGallery.tsx
  src/components/workflow/__tests__/CustomNode.test.tsx
  src/pages/WorkflowBuilder.tsx
  src/types/workflow.ts
  tests/e2e/workflow-generation.spec.ts
  tests/e2e/workflow-simulation.spec.ts
Due: typescript

refactor: Phase 1 React Flow 제거 및 Phase 9 준비 (#19)
  docs/development/phase9-ui-mockup.md
  package-lock.json
  package.json
  src/App.tsx
  src/components/NotImplemented.tsx
  src/components/workflow/CustomNode.tsx
  src/components/workflow/NodeEditPanel.tsx
  src/components/workflow/SimulationHistoryButton.tsx
  src/components/workflow/SimulationPanel.tsx
  src/components/workflow/TemplateGallery.tsx
  src/components/workflow/__tests__/CustomNode.test.tsx
  src/pages/WorkflowBuilder.tsx
  src/types/workflow.ts
  tests/e2e/workflow-generation.spec.ts
  tests/e2e/workflow-simulation.spec.ts
Due: typescript

feat: Phase 9 Workflow Builder - Vertical List UI 구현
  package-lock.json
  package.json
  src/App.tsx
  src/components/workflow/StepCard.tsx
  src/components/workflow/node-forms/AlertForm.tsx
  src/components/workflow/node-forms/ApprovalForm.tsx
  src/components/workflow/node-forms/CalcForm.tsx
  src/components/workflow/node-forms/JudgmentForm.tsx
  src/components/workflow/node-forms/QueryForm.tsx
  src/components/workflow/node-forms/TriggerForm.tsx
  src/pages/WorkflowBuilderV2.tsx
Due: typescript

feat: Phase 9 Workflow Builder - Vertical List UI 구현 (Phase 2 완료) (#20)
  package-lock.json
  package.json
  src/App.tsx
  src/components/workflow/StepCard.tsx
  src/components/workflow/node-forms/AlertForm.tsx
  src/components/workflow/node-forms/ApprovalForm.tsx
  src/components/workflow/node-forms/CalcForm.tsx
  src/components/workflow/node-forms/JudgmentForm.tsx
  src/components/workflow/node-forms/QueryForm.tsx
  src/components/workflow/node-forms/TriggerForm.tsx
  src/pages/WorkflowBuilderV2.tsx
Due: typescript

docs: Phase 4 완료 - API 명세 문서 업데이트
  TASKS.md
  docs/architecture/api_specifications.md
Due: none

test: Phase 9-2 AI Workflow Generator 유닛 테스트 구현 (22/22 통과)
  src-tauri/src/commands/workflow_v2.rs
  src-tauri/src/services/chat_service.rs
Due: rust

docs: Add Phase 9-2 AI Workflow Generator API specification
  docs/architecture/api_specifications.md
Due: none

docs: Add Phase 9-2 AI Workflow Generator to TASKS.md
  TASKS.md
Due: none

feat: Phase 9 WorkflowBuilderV2 - Phase 3 스케줄러 및 실행 이력 구현 (#21)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/006_create_workflow_executions.sql
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/tests/workflow_ai_tests.rs
  src-tauri/src/commands/workflow_v2.rs
  src-tauri/src/database/sqlite.rs
  src-tauri/src/main.rs
  src/components/workflow/AiGenerator.tsx
  src/components/workflow/node-forms/AlertForm.tsx
  src/components/workflow/node-forms/ApprovalForm.tsx
  src/components/workflow/node-forms/JudgmentForm.tsx
  src/pages/WorkflowBuilderV2.tsx
Due: rust, typescript

feat: WorkflowBuilderV2 스케줄러 Frontend UI 추가
  src/pages/WorkflowBuilderV2.tsx
Due: typescript

feat: 워크플로우 템플릿 라이브러리 기능 추가
  src/pages/WorkflowBuilderV2.tsx
Due: typescript

feat: Phase 9 WorkflowBuilderV2 - Alert 채널 변경 및 UI 정리
  src-tauri/src/database/sqlite.rs
  src/components/workflow/node-forms/AlertForm.tsx
  src/lib/__tests__/workflow-generator.test.ts
  src/lib/workflow-generator.ts
  src/lib/workflow-simulator-tauri.ts
  src/lib/workflow-simulator.ts
  src/lib/workflow-templates.ts
  src/pages/WorkflowBuilderV2.tsx
  tests/e2e/workflow-generation.spec.ts
  vite.config.ts
Due: rust, typescript

fix: workflow_v2 테스트 수정 (id 타입 변환, 테스트 쿼리 수정)
  judgify_large.db
  src-tauri/src/commands/workflow_v2.rs
Due: rust

feat: Phase 9-3 실행 이력 UI 구현
  src/pages/WorkflowBuilderV2.tsx
Due: typescript

feat: Phase 9-4 실행 이력 상세 보기 UI 구현
  src/pages/WorkflowBuilderV2.tsx
Due: typescript

feat: Phase 9-5 버전 관리 UI 구현
  src/pages/WorkflowBuilderV2.tsx
Due: typescript

feat: Phase 9-5 Rust 백엔드 버전 관리 API 연동
  src-tauri/src/commands/workflow_v2.rs
  src-tauri/src/main.rs
  src/pages/WorkflowBuilderV2.tsx
Due: rust, typescript

feat: Phase 9-6 시뮬레이션 기능 강화 - 테스트 데이터 입력 UI
  src/pages/WorkflowBuilderV2.tsx
Due: typescript

refactor: 워크플로우 버전 관리 기능 제거
  src/pages/WorkflowBuilderV2.tsx
Due: typescript

refactor: 실행 이력 기능 제거 (Phase 9-3/9-4)
  src/pages/WorkflowBuilderV2.tsx
Due: typescript

fix: TypeScript 컴파일 에러 수정 및 누락된 모듈 추가
  src/App.test.tsx
  src/__tests__/utils/renderWithQueryClient.tsx
  src/components/JsonViewerModal.tsx
  src/components/__tests__/ErrorBoundary.test.tsx
  src/components/ui/alert.tsx
  src/lib/claude-provider.ts
  src/lib/llm-provider.ts
  src/lib/workflow-simulator.ts
  src/pages/__tests__/Settings.test.tsx
Due: typescript

fix: TypeScript 컴파일 에러 수정 및 누락된 모듈 추가 (#21)
  src/App.test.tsx
  src/__tests__/utils/renderWithQueryClient.tsx
  src/components/JsonViewerModal.tsx
  src/components/__tests__/ErrorBoundary.test.tsx
  src/components/ui/alert.tsx
  src/lib/claude-provider.ts
  src/lib/llm-provider.ts
  src/lib/workflow-simulator.ts
  src/pages/__tests__/Settings.test.tsx
Due: typescript

chore: Bump version to 0.3.3
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  version.py
Due: rust

feat: ERP/MES 스키마 재구성 및 워크플로우 템플릿 개선
  docs/info/ERP.docx
  docs/info/ERP_MES 데이터 적재 요령.docx
  docs/info/MES.docx
  docs/info/~$웰 음료 기업문서.docx
  docs/info/공정 SOP.docx
  docs/info/퓨어웰 음료 기업문서.docx
  src-tauri/Cargo.lock
  src-tauri/migrations/001_knowledge_base.sql
  src-tauri/migrations/002_erp_schema.sql
  src-tauri/migrations/003_mes_schema.sql
  src-tauri/migrations/004_seed_knowledge.sql
  src-tauri/migrations/005_seed_erp_master.sql
  src-tauri/migrations/006_seed_erp_transaction.sql
  src-tauri/migrations/007_seed_mes.sql
  src-tauri/migrations/008_seed_sales_history.sql
  src-tauri/migrations/009_seed_2025_sales.sql
  src-tauri/migrations_backup/001_create_ccp_docs.sql
  src-tauri/migrations_backup/002_create_ccp_sensors.sql
  src-tauri/migrations_backup/003_create_ccp_judgments.sql
  src-tauri/migrations_backup/004_ccp_seed_data.sql
  src-tauri/migrations_backup/004_ccp_seed_data_fixed.sql
  src-tauri/migrations_backup/005_create_mes_data.sql
  src-tauri/migrations_backup/006_create_workflow_executions.sql
  src-tauri/src/bin/init_db.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/services/chat_service.rs
  src/components/ErrorBoundary.tsx
  src/components/layout/Header.tsx
  src/components/workflow/StepCard.tsx
  src/lib/__tests__/tauri-api.test.ts
  src/lib/mock-api.ts
  src/lib/tauri-api-wrapper.ts
  src/pages/ChatInterface.tsx
  src/pages/WorkflowBuilderV2.tsx
  src/pages/__tests__/ChatInterface.test.tsx
  src/pages/__tests__/Dashboard.test.tsx
Due: rust, typescript

chore: Bump version to 0.3.4
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: rust

fix: version.py 버전 동기화 (0.3.4)
  version.py
Due: none

fix: GitHub Actions 오류 수정 (ES Module, Ubuntu 24.04 호환성)
  .github/scripts/benchmark-report.cjs
  .github/workflows/performance-benchmarks.yml
  .github/workflows/test.yml
Due: none

fix: Lighthouse CI 임계값 완화 및 PWA 검사 비활성화
  lighthouserc.json
Due: none

fix: Lighthouse CI 프리셋 제거 및 최소 검사만 활성화
  lighthouserc.json
Due: none

fix: NSIS 언인스톨 시 바탕화면 바로가기 삭제 문제 해결
  src-tauri/nsis/hooks.nsi
  src-tauri/tauri.conf.json
Due: rust

feat: ERP/MES 데이터베이스 분류 및 누락 테이블 추가
  src-tauri/migrations/010_additional_erp_mes.sql
  src-tauri/migrations/011_seed_additional.sql
  src-tauri/src/bin/init_db.rs
  src-tauri/src/commands/database.rs
  src-tauri/tauri.conf.json
  src/components/DatabaseViewer.tsx
Due: rust, typescript

feat: ERP 1년치/MES 4개월치 데이터 확장 및 FK 제약조건 수정
  src-tauri/migrations/010_additional_erp_mes.sql
  src-tauri/migrations/011_seed_additional.sql
  src-tauri/migrations/012_seed_erp_extended.sql
  src-tauri/migrations/013_seed_mes_extended.sql
  src-tauri/src/bin/init_db.rs
Due: rust

feat: MES 데이터 완성 마이그레이션 및 마이그레이션 추적 시스템 추가
  src-tauri/migrations/014_seed_mes_complete.sql
  src-tauri/src/bin/init_db.rs
Due: rust

fix: MES/ERP 차트 스키마 수정 및 재고/창고 시각화 라우팅 개선 (v0.3.6)
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/chart_service.rs
  src-tauri/src/services/chat_service.rs
  src-tauri/tauri.conf.json
  src/lib/tauri-api-wrapper.ts
  src/pages/ChatInterface.tsx
  version.py
Due: rust, typescript

chore: 버전 업그레이드 v0.3.7
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  version.py
Due: rust

feat: 차트 Y축 숫자 압축 포맷 적용 (K/M 단위)
  src/pages/ChatInterface.tsx
Due: typescript

chore: v0.3.8 버전 업데이트
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  version.py
Due: rust

Path conditions:
  rust: any of: src-tauri/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, src/main.tsx, src/vite-env.d.ts, **/*.d.ts, **/*.config.ts, src-tauri/src/main.rs, src-tauri/target/**
  typescript: any of: src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/tests/**, **/__tests__/**, src/main.tsx, src/vite-env.d.ts, **/*.d.ts, **/*.config.ts, src-tauri/src/main.rs, src-tauri/target/**
