Repository mugoori/Judgify-core: changes, and which Codecov flags are due for each by the changed paths.
All: rust, typescript

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%  # Allow 1% decrease
        base: auto
    patch:
      default:
        target: 60%  # New code should have 60%+ coverage
        threshold: 5%

  # Coverage baselines
  range: 50..100  # Red at <50%, green at 100%

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false  # Comment on all PRs
  after_n_builds: 2  # Wait for both Rust and TypeScript

flags:
  rust:
    paths:
      - src-tauri/
    carryforward: true
  typescript:
    paths:
      - src/
    carryforward: true

# Ignore generated and test files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/tests/**"
  - "**/__tests__/**"
  - "src/main.tsx"
  - "src/vite-env.d.ts"
  - "**/*.d.ts"
  - "**/*.config.ts"
  - "src-tauri/src/main.rs"
  - "src-tauri/target/**"

fix: Y축 포맷터 개선 - 10억 단위(B) 추가 및 소수점 정리
  src/pages/ChatInterface.tsx
Due: typescript

style: 차트 디자인 모던화 (글래스모피즘, 그라데이션, 글로우 효과) (v0.3.9)
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/pages/ChatInterface.tsx
  version.py
Due: rust, typescript

chore: Cargo.lock 업데이트 (v0.3.9)
  src-tauri/Cargo.lock
Due: rust

feat: DB 테이블 컬럼 정렬 및 채팅 히스토리 초기화 기능 (v0.3.10)
  package.json
  src-tauri/Cargo.toml
  src-tauri/migrations/005_seed_erp_master.sql
  src-tauri/migrations/015_seed_erp_2025_full.sql
  src-tauri/src/commands/database.rs
  src-tauri/src/services/chat_service.rs
  src-tauri/tauri.conf.json
  src/components/DatabaseViewer.tsx
  src/pages/ChatInterface.tsx
  version.py
Due: rust, typescript

fix: 채팅 히스토리 탭 이동시 유지, 앱 재시작시만 초기화
  src/pages/ChatInterface.tsx
Due: typescript

chore: bump version to v0.3.11
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  version.py
Due: rust

fix: 앱 시작시 ERP/MES 마이그레이션 자동 실행 (v0.3.12)
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/database/migrations.rs
  src-tauri/src/database/mod.rs
  src-tauri/src/database/sqlite.rs
  src-tauri/tauri.conf.json
  version.py
Due: rust

feat: API 키 미설정시 안내 메시지 표시 (v0.3.12)
  src-tauri/Cargo.lock
  src/pages/ChatInterface.tsx
Due: rust, typescript

fix: 최근 센서 데이터 추가 - 온도 차트 빈 데이터 문제 해결 (v0.3.13)
  src-tauri/migrations/016_seed_recent_sensor_data.sql
  src-tauri/src/database/migrations.rs
Due: rust

chore: bump version to v0.3.13
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  version.py
Due: rust

fix: 파이 차트 Legend에 창고 이름이 표시되지 않는 문제 수정 (v0.3.14)
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/pages/ChatInterface.tsx
  version.py
Due: rust, typescript

fix: 창고별 재고 비율 차트 정상 표시를 위한 매핑 수정
  src-tauri/migrations/017_fix_warehouse_inventory_mapping.sql
  src-tauri/src/database/migrations.rs
Due: rust

fix: 차트 X축 라벨 가독성 개선 및 Line 차트 데이터 구조 수정 (v0.3.15)
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/services/chart_service.rs
  src-tauri/tauri.conf.json
  src/pages/ChatInterface.tsx
  version.py
Due: rust, typescript

feat: 12개 템플릿 SQL 마커 추가 및 실제 DB 데이터 연동 (v0.3.17)
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/services/chart_service.rs
  src-tauri/src/services/chat_service.rs
  src-tauri/tauri.conf.json
  src-tauri/templates/ccp_pass_rate.txt
  src-tauri/templates/ccp_types.txt
  src-tauri/templates/defect_rate.txt
  src-tauri/templates/equipment_downtime.txt
  src-tauri/templates/line_production.txt
  src-tauri/templates/monthly_production_trend.txt
  src-tauri/templates/monthly_sales.txt
  src-tauri/templates/oee_gauge.txt
  src-tauri/templates/quality_inspection.txt
  src-tauri/templates/sales_trend.txt
  src-tauri/templates/temperature_trend.txt
  src-tauri/templates/warehouse_inventory.txt
Due: rust
